<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EDIEntities" connectionString="metadata=res://*/Properties.EDIEntities.csdl|res://*/Properties.EDIEntities.ssdl|res://*/Properties.EDIEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=AnycmdEDI;persist security info=True;user id=sa;password=anycmd.com;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ACEntities" connectionString="metadata=res://*/Properties.ACEntities.csdl|res://*/Properties.ACEntities.ssdl|res://*/Properties.ACEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Anycmd;persist security info=True;user id=sa;password=anycmd.com;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="InfraEntities" connectionString="metadata=res://*/Properties.InfraEntities.csdl|res://*/Properties.InfraEntities.ssdl|res://*/Properties.InfraEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Anycmd;persist security info=True;user id=sa;password=anycmd.com;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IdentityEntities" connectionString="metadata=res://*/Properties.IdentityEntities.csdl|res://*/Properties.IdentityEntities.ssdl|res://*/Properties.IdentityEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Anycmd;persist security info=True;user id=sa;password=anycmd.com;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>