@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>系统设置</h2>
系统设置是与业务无关的设置，设置系统运行时变量。
@section Foot{
	<script type="text/javascript" src="@Url.Content("~/Scripts/Areas/AC/Parameter/Index.cshtml.js")"></script>
}