@model IElement
<div rel="@Request.RawUrl">
    @{
        if (this.GetUser().IsDeveloper()) {
        <a class="btnTooltip" href="@Url.Action("TooltipEdit", new { elementID = Model.Id })" target="_blank">编辑</a>
        <a class="btnTooltip" href="@Url.Action("TooltipEdit", new { elementID = Model.Id })" onclick="helper.refreshTooltip(this);return false;" iconcls="icon-reload">刷新</a>
        }
    }
    @Html.Raw(Model.Tooltip)
</div>
