<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ACViewEntities" connectionString="metadata=res://*/ACViews.csdl|res://*/ACViews.ssdl|res://*/ACViews.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Anycmd;persist security info=True;user id=sa;password=anycmd.com;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IdentityViewEntities" connectionString="metadata=res://*/Identity.IdentityViews.csdl|res://*/Identity.IdentityViews.ssdl|res://*/Identity.IdentityViews.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Anycmd;persist security info=True;user id=sa;password=anycmd.com;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>